# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
*.csv
*.csv
*.csv
development/data_collection/data/job_history.csv
development/data_collection/data/match_data.csv
development/data_collection/data/schedule.csv
development/data_collection/debug_log.ipynb
development/data_collection/data/crontab_command.txt
development/data_collection/data/crontab_command.txt
development/data_collection/data/job_history.csv
development/data_collection/data/match_data.csv
development/data_collection/data/schedule.csv
development/data_collection/telegram_tokens.py
development/data_collection/data/job_history.csv
development/data_collection/data/match_data.csv
development/data_collection/data/schedule.csv
development/data_collection/sql_connection.ipynb
development/data_collection/sql_output.py
development/data_collection/data/crontab_command.txt
development/data_collection/data/crontab_command.txt
development/data_collection/data/job_history.csv
development/data_collection/data/match_data.csv
development/data_collection/data/schedule.csv
development/data_collection/account_details.py
development/data_collection/signals.py
development/data_collection/signals.py
*.png
development/data_collection/notebooks/adjust_time_test.ipynb
development/data_collection/notebooks/autobet_development.ipynb
development/data_collection/notebooks/debug_log.ipynb
development/data_collection/notebooks/machine_learning.ipynb
development/data_collection/notebooks/momentum.ipynb
development/data_collection/notebooks/signal_analysis.ipynb
development/data_collection/notebooks/signal_analysis_multibet.ipynb
development/data_collection/notebooks/signal_halftime_analysis.ipynb
development/data_collection/notebooks/sql_connection.ipynb
development/data_collection/old_files/data_exp/crontab_command.txt
development/data_collection/old_files/statistical inference.xlsx
development/data_collection/autobet.py
development/data_collection/bet_slips/receipt.txt
